
// THEME FOOTER STYLE

// FOOTER
footer{
	background-color: @warna-primer-a;
	a{
		&:hover{
			color: @brand-warning;
		}
	}
}
#footer-atas{
	background-color: white;
	padding-top: 44px;
	padding-bottom: 44px;
	img{
		float: left;
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: 1em;
	}
}
.footer-kontak{
	float: left;
	h1{
		font-family: "Titillium Web", sans-serif;
		font-weight: 400;
		font-size: 23px;
		margin-top: 0;
	}
}
#footer-bawah{
	background-color: @warna-primer-b;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	p{margin: 0;}
}
// Eof FOOTER