
// THEME FORUM STYLE

.forum{
	.panel-heading{
		h1{
			font-size: 16px;
			margin: 10px 0;
		}
	}
	.avatar{
		text-align: center;
	}
	&-judul{
		font-size: 17px;
		margin: 5px 0;
		line-height: 1.3em;
	}
	&-waktu, &-status{
		padding: 5px 0;
		margin-top: 5px;
	}
	blockquote{
		footer{
			background-color: transparent;
		}
	}
}

