
// THEME HOME STYLE


// SECTION
section.well{
	border-radius: 0;
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	box-shadow: none;
	margin-bottom: 0;
	border: 0;
}

.section-heading{
	color: @warna-hitam;
	font-size: 24px;
	font-weight: 700;
	text-decoration: underline;
}

.indeks{
	font-size: 14px;
	font-weight: 400;
	font-family: @font-family-sans-serif;
	color: @warna-primer-a;
}
// Eof SECTION

// HOME CTA
#home-cta{
	background-color: @warna-primer-b;
	overflow: hidden;
	color: white;
	padding-left: 0;
	padding-right: 0;
	h1{
		font-family: 'Titillium Web';
		font-size: 36px;
		font-weight: 400;
	}
	h2{
		font-size: 24px;
		font-weight: 700;
		font-style: italic;
		margin-top: 0;
		margin-bottom: 2rem;
	}
	p{
		font-size: 1em;
		font-weight: 400;
		margin-bottom: 3rem;
	}
}
#dua{
	position: relative;
	z-index: 3;
}



// INFO USER
#info-user{
	background-color: @warna-tersier;
	p{
		font-size: 26px;
		margin: 0;
	}
	.atau{
		display: block;
		text-align: center;
		font-weight: 700;
		font-size: 27px;
	}
}
// Eof INFO USER


